// Define variables for your color scheme

// For example:
$main: #FF7949;
$back: #F8F1E5;
$pink: #FF0A9D;
$flash-blue: #06FFD2;
$red: #930214;
$blue: #265994;
$yellow: #F4DF87;
$orange: #FB9E04;
$green: #417505;
$dark-gray: #2E2F30;
$gray: #9B9B9B;
$light-gray: #F4F4F4;
$medium-gray: #E9E9E9;
$gold: #CCA43B;
$platinium: #E7E5DF;
$morning-blue: #8daa9d;
$snow: #fbf5f3;
