<div class="container-cocktail" >
  <div class="wrap-cards">
    <div class="container-title text-center">
      <h2>Cocktails index</h2>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
            </div>
              <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
