// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-cocktail-wraper {
  margin-top: 50px;
  padding: 30px 30px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}



// show
.cocktail-title h2 {
  color: #912F40;
  font-weight: bold;
}

hr {
  border-color: #40434E;
}

.cocktail-show {
  padding: 15px 15px;
  margin-top: 15px;
  color: #40434E;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  width: 900px;
}

.wrap-doseadd,
.wrap-reviewadd {
  padding: 0px 10px;
  justify-content : start;
}

.select2,
.form-control {
  height: 38px !important;
  width: 100% !important;
}
.cocktail-links {
  padding-top: 0px;
}

.form-wrapper {
  padding: 10px 10px;
  background-color: #AFD5AA;
}

// index
.wrap-cards {
  padding: 20px 0px;
  margin: 0px 20px;
}
.container-title h2 {
  font-weight: lighter !important;
}

label {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0px;
}
.form-control {
  label {
    margin-bottom: 1px;
  }
}
.form-group {
  margin-bottom: 0px;
}

.btn-add,
.btn-new {
  margin-top: 15px !important;
}
