
.home {
  background-image: radial-gradient(  circle,
                                      rgba(46,47,48,.3) 0%,
                                      rgba(46,47,48,.5) 10%,
                                      rgba(46,47,48,1) 40%),
                                      image-url('wall.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-form {
  margin-top: 30px;
  height: 60px !important;
  border-radius: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $flash-blue;
}

#search-form:hover > #query.form-control {
  width: 240px !important;
  padding-left: 20px !important;
  outline: transparent !important;
}

#search-form:hover > .search-btn {
  background-color: $pink !important;
}

input#query.form-control {
  border: none !important;
  background-color: $flash-blue !important;
  border-radius: 40px !important;
  outline: none !important;
  float: left;
  color: $dark-gray;
  font-size: 16px;
  transition: 0.4s;
  line-height: 60px !important;
  width: 0 !important;
  padding: 0 !important;
}

.wrap-btn-search {
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-btn {
  background-color: $pink !important;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

i.search-icone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $flash-blue;
  z-index: 999;
  font-size: 24px;

}

