
<div class="form-new-dose">
  <%= simple_form_for [cocktail, dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, input_html: { class: "select2" }, include_hidden: false %>
    <%= f.button :submit, "Valid", class: "btn btn-danger btn-add" %>
  <% end %>
</div>
