
<div class="form-new-dose">
  <%= simple_form_for [cocktail, dose],
    wrapper: :inline_form,
    html: { class: "form-inline" },
    wrapper_mappings: {
      boolean: :inline_boolean
    } do |f| %>

    <%= f.input :description, input_html: { class: "dose-desc" }, placeholder: "Quantity" %>
    <%= f.association :ingredient, input_html: { class: "select2" }, include_hidden: true, prompt: "Select ingredient" %>
    <%= f.button :submit, "Add", class: "btn btn-danger btn-add" %>
  <% end %>
</div>

