<section class="section section-home">
  <div class="banner">
    <%= image_tag 'wiki-home.png' %>
  </div>
  <div class="text-center">
    <%= link_to "Cheers !", cocktails_path, class: "btn-home" %>
  </div>
</section>
