<section class="home">
  <%= image_tag 'wikilogo.png' %>
  <form id="search-form" action="/cocktails" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="✓">
    <input type="text" name="query" id="query" class="form-control" placeholder="Find a cocktail">
    <div class="wrap-btn-search">
      <button type="submit" name="commit" value="" class="search-btn" data-disable-with="Search">
        <i class="fas fa-search search-icone"></i>
      </button>
    </div>

  </form>
</section>

    <!-- <div class="form-inline">
      <%= form_tag cocktails_path, id:"home-form", method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a cocktail"%>
        <%= submit_tag "Search", class: "btn btn-success" %>
      <% end %>
    </div> -->




