
  <div class="home-video-wrapper">
    <%= video_tag "lemon.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
   <%= link_to "Cheers !", cocktails_path, class: "home" %>
  </div>


