<section class="section section-home">
  <div class="banner">
    <%= image_tag 'wiki-home.png' %>
  </div>
  <div class="home-title text-center">
    <h1>La Bilble des Cocktails</h1>

    <h2>Cheers !</h2>
  </div>
</section>
