.card {
  height: 150px;
  background: $snow;
  background-size: cover !important;
  color: $morning-blue;
  position: relative;
  border: none;
  border-radius: 15px;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 14px rgba(126,87,88,0.1), 0 3px 6px rgba(0,0,0,0.08);
}
.card-description {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-description h2 {
  font-weight: bold;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
