.navbar-wiki {
  justify-content: space-between;
  align-item: center;
  background: white;
}

.navbar-brand {
  margin: 0;
}

.navbar-wiki .navbar-collapse {
  flex-grow: 0;
}

.mr-auto {
  margin-right: auto;
  align-items: center;
}

