.navbar-wiki {
  justify-content: space-around;
  align-item: center;
  background: $dark-gray;
}

.navbar-brand {
  margin: 0;
}

.navbar-wiki .navbar-collapse {
  flex-grow: 0;
}

#navbarSupportedContent {
  text-align: center;
}

.mr-auto {
  margin-right: auto;
  align-items: center;
}

.navbar-toggler {
  background-color: $flash-blue !important;
}
